.section {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid rgb(238, 238, 238);
}

/* @media only screen and (min-width: 600px) {
  .section {
    display: none;
  }
} */

.container {
  max-width: 1200px;
  height: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-between;
  column-gap: 1rem;
}

.menus {
  grid-template-columns: 1fr;
  justify-items: start;
  z-index: 200;
  width: 100vh;
  grid-template-rows: repeat(2, min-contnt);
  row-gap: 1rem;
}

.menus a {
  text-decoration: none;
  font-family: Arial;
  font-size: 17px;
  font-weight: 200;
  line-height: normal;
  color: rgba(36, 35, 35, 0.779);
  text-transform: uppercase;
  border-bottom: 1px solid #dedede;
  width: 100%;
  padding: 0.5rem;
}

.icon {
  height: 100%;
  width: 100%;
  color: #836d3c;
  padding: 0.5rem;
}
